<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>MinhaServlet</servlet-name>
		<display-name>MinhaServlet</display-name>
		<servlet-class>br.edu.ifb.controller.MinhaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MinhaServlet</servlet-name>
		<url-pattern>/MinhaServlet</url-pattern>
	</servlet-mapping>
</web-app>
